drivers
.git/
.idea/
*.iml
.allure/
target/
out/
*.log
src/test/jmeter/reports/
src/test/jmeter/testData/
src/test/resources/features/
src/test/resources/reporte.xlsx
jenkins/jira-report/jira-report.html
jenkins/jmeter-report/htmlJmeterReportGenerated.html
artifacts.zip
artifacts/
*.DS_Store
.gradle/
build/
vagrant/.vagrant
**/dataProvider.properties
**/dataProviderPin.properties

#VSCODE
.vscode/
.classpath
.factorypath
.project
.settings/

